/* users.module.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.count {
  color: var(--muted);
  font-size: 0.9rem;
}

.empty {
  padding: 40px 20px;
  text-align: center;

  background: var(--card);
  border-radius: 16px;

  border: 1px solid var(--border);
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* TOP */
.top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.userInfo h3 {
  font-size: 1rem;
  color: var(--text);
}

.userInfo p {
  color: var(--muted);
  font-size: 0.85rem;

  word-break: break-word;
}

/* ROLE */
.role {
  width: fit-content;

  padding: 4px 10px;

  border-radius: 999px;

  background: rgba(255,255,255,0.06);

  color: var(--text);

  font-size: 0.75rem;
}

/* STATUS */
.statusContainer {
  display: flex;
  justify-content: flex-end;
}

.active,
.inactive {
  padding: 6px 12px;

  border-radius: 999px;

  font-size: 0.75rem;
  font-weight: 600;
}

.active {
  background: rgba(0, 200, 83, 0.15);
  color: #00c853;
}

.inactive {
  background: rgba(255, 77, 79, 0.15);
  color: #ff4d4f;
}
.imageSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.label {
  font-size: 0.9rem;
  color: var(--text);
}

.imagePreview {
  display: flex;
  justify-content: center;
}

/* input file */
.fileInput {
  width: 100%;

  padding: 12px;

  border-radius: 12px;

  border: 1px dashed var(--border);

  background: var(--card);

  color: var(--muted);

  cursor: pointer;
}

.fileInput::file-selector-button {
  border: none;

  background: var(--accent);

  color: white;

  padding: 8px 14px;

  border-radius: 8px;

  margin-right: 10px;

  cursor: pointer;
}